@page
@using System.Security.Claims
@model RentBookApp.Pages.AddRentals.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Rent Book History</h1>

<p>
    <a asp-page="Create">New rental</a>
</p>
@foreach (var item in Model.Rentals)
{
    if (item.RenterId == User.FindFirstValue(ClaimTypes.NameIdentifier))
    {
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Rentals[0].RentedAt)</th>
                    <th>@Html.DisplayNameFor(model => model.Rentals[0].ReturnedAt)</th>
                    <th>@Html.DisplayNameFor(model => model.Rentals[0].Book)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.RentedAt)</td>
                    <td>@Html.DisplayFor(modelItem => item.ReturnedAt)</td>
                    <td>@Html.DisplayFor(modelItem => item.Book.Title)</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Return Book</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            </tbody>
        </table>
    }
}
